 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

.signUpContainer{
  margin:0 auto;
  text-align:center;
  width:300px;
  margin-top:200px;
  color:#6089bf;
}
  .signUpText{
    padding:20px;
  }
  #userName{
    padding:5px;
    width:250px;
    margin-bottom:15px;
  }
  #password{
    padding:5px;
    width:250px;
  }